
.calendar-table {
	background: $green;
}

.calendar-head {
	background: darken($green, 12%);
}


.calendar-td {
	width: 14%;
	height: 130px;
	color: #fff;
	&:hover {
		background: $bg;
		color: #333;
	}
	a {
		color: #2c9ab7;
		&:hover {
			color: darken(#2c9ab7, 10%);
		}
	}
}

.reserved {
	background: #dd5143;
	a {
		color: #444;
	}
	.reserved-mark {
		float: right;
		font-weight: bold;
	}
	&:hover {
		.reserved-mark {
			color: #dd5143;
		}
		a {
			color: #2c9ab7;
			&:hover {
				color: darken(#2c9ab7, 10%);;
			}
		}
	}
}