html, body{ margin:0; height:100%; }

body {
  font-family:  Helvetica, sans-serif;
  font-size: 15px;
  background: $bg;
  padding-top: 70px;
  word-wrap: break-all;
  a {
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}
