/* 按鈕 */

.btn-1 {
	font-size: 13px;
	border: 1px solid #479ccf;
	color: darken(#479ccf, 10%);
	border-radius: 3px;
	padding: 5px 10px;
	&:hover {
		background: #479ccf;
		color: #fff;
	}
}

.btn-disable {
	background: gray;
	color: #fff;
	border-radius: 5px;
	padding: 3px 5px;

}


.btn-cancel {
	background: $red;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	&:hover {
		background: darken($red, 12%);
		color: #fff;
	}
}
